.home__container{
  width: 100%;
  height: 95vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;

  .topBar{
    background-color:white;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
  }

  .view{
    background-color:white;
    width: 97%;
    height: 100%;
    margin-bottom: 20px;

    h1{
      margin: 20px;
    }
  }
}